html {
  font-size: 1.25rem;
}

body {
  background-image: url(img/black_rocks_horizontal.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Ubuntu Mono", monospace;
  color: white;
}

h1 {
  text-align: center;
}

.container {
  margin-top: 25px;
  background: rgba(25, 25, 25, 0.65);
}

.navbar {
  background: rgb(25, 25, 25);
}

.navbar-brand, .nav-link {
  color: white;
}

.navbar-brand:hover, .nav-link:hover {
  color: white;
}

.fa-bars {
    color: white;
    font-size: 1.5em;
}
