html {
    font-size: 1.25rem;
}

body {
  background-image: url(img/black_rocks_horizontal.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Ubuntu Mono", monospace;
}

.navbar a {
  color: white;
}
