html, body {
  height: 100%;
}

html {
  font-size: 1.25rem;
}

body {
  background-image: url(img/black_rocks.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Ubuntu Mono", monospace;
  color: white;
}

h1 {
  text-align: center;
}

h3 {
  font-size: 1.6em;
}

hr {
  border: 1px solid white;
}

.container {
  margin-top: 25px;
  background: rgba(25, 25, 25, 0.65);
}

.navbar {
  background: rgb(25, 25, 25);
  border-bottom: 1px solid rgb(50,50,50);
}

.navbar-brand,
.nav-link {
  color: white;
}

.navbar-brand:hover,
.nav-link:hover {
  color: white;
}

.fa-bars {
  color: white;
  font-size: 1.5em;
}

hr {
  border-top: 0.5px;
}

.bold {
  border-top: 2px solid;
}

#statement {
  margin-top: 10%;
}